# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_path = Path("Resources/schools_complete.csv")
student_data_path = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Combine the data into a single dataset.  
school_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_df["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_totals = school_df["size"].unique()
student_count = student_totals.sum()
student_count

39170

In [4]:
# Calculate the total budget
school_budgets = school_df["budget"].unique()
total_budget = school_budgets.sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
math_scores = school_df["math_score"].unique()
average_math_score = math_scores.sum() / len(math_scores)
average_math_score

77.0

In [6]:
# Calculate the average (mean) reading score
reading_scores = school_df["reading_score"].unique()
average_reading_score = reading_scores.sum() / len(reading_scores)
average_reading_score

81.0

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_df[(school_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
round(passing_math_percentage, 2)

74.98

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_df[(school_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
round(passing_reading_percentage, 2)

85.81

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
MR_passing_count = school_df[(school_df["math_score"] >= 70) & (school_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = MR_passing_count /  float(student_count) * 100
round(overall_passing_rate, 2)

65.17

In [68]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Percent Passing Math": [passing_math_percentage],
    "Percent Passing Reading": [passing_reading_percentage],
    "Percent Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("{:,.2f}%".format)


# Display the DataFrame
# district_summary = district_summary["Total Schools", "Total Students", "Total Budget", "Average Math Score", 
#                                     "% Passing Math", "% Passing Reading", "% Overall Passing"]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,"39,170","$24,649,428.00",77.0,81.0,74.98%,85.805463,school_name Bailey High School 66.0 Cabr...

## School Summary

In [11]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending
per_school_budget = school_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_capita)
print(per_school_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64
school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
# Calculate the average test scores
per_school_math = school_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_df.groupby(["school_name"]).mean()["reading_score"]
passing_math_and_reading = school_df.groupby(["school_name"]).mean()["reading_score"]

In [15]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_df[school_df["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [16]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_df[school_df["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [62]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math / per_school_counts * 100
per_school_passing_reading = school_passing_reading / per_school_counts * 100
overall_passing_rate = (school_passing_math & school_passing_reading) / per_school_counts * 100
per_school_passing_math = per_school_passing_math.round()
per_school_passing_reading = per_school_passing_reading.round()
overall_passing_rate = overall_passing_rate.round()

print(per_school_passing_math.head())
print(per_school_passing_reading.head())
print(overall_passing_rate.head())

school_name
Bailey High School      67.0
Cabrera High School     94.0
Figueroa High School    66.0
Ford High School        68.0
Griffin High School     93.0
dtype: float64
school_name
Bailey High School      82.0
Cabrera High School     97.0
Figueroa High School    81.0
Ford High School        79.0
Griffin High School     97.0
dtype: float64
school_name
Bailey High School      66.0
Cabrera High School     83.0
Figueroa High School     9.0
Ford High School         3.0
Griffin High School     88.0
dtype: float64

In [60]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "School Budget": per_school_budget,
    "Capita": per_school_capita,
    "Average Math Score": per_school_math.round(),
    "Average Reading Score": per_school_reading.round(),
    'Percent Passing Math': per_school_passing_math.map("{:,.2f}%".format),
    'Percent Passing Reading': per_school_passing_reading.map("{:,.2f}%".format),
    "Overall Passing Rate": overall_passing_rate.map("{:,.2f}%".format)})


# Formatting
per_school_summary["School Budget"] = per_school_summary["School Budget"].map("${:,.2f}".format)
per_school_summary["Capita"] = per_school_summary["Capita"].map("${:,.2f}".format)


# Display the DataFrame
per_school_summary

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0,81.0,66.68%,81.93%,66.32%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.0,84.0,94.13%,97.04%,82.72%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,77.0,81.0,65.99%,80.74%,8.95%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.0,81.0,68.31%,79.30%,2.77%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.0,84.0,93.39%,97.14%,88.42%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.0,81.0,66.75%,80.86%,66.36%
Holden High School,Charter,427,"$248,087.00",$581.00,84.0,84.0,92.51%,96.25%,92.51%
Huang High School,District,2917,"$1,910,635.00",$655.00,77.0,81.0,65.68%,81.32%,11.11%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.0,81.0,66.06%,81.22%,64.71%
Pena High School,Charter,962,"$585,858.00",$609.00,84.0,84.0,94.59%,95.95%,94.18%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,77.0,81.0,66.37%,80.22%,51.41%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.0,84.0,93.87%,95.85%,88.13%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.0,84.0,93.27%,97.31%,65.87%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.0,84.0,93.87%,96.54%,90.93%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,84.0,84.0,93.33%,96.61%,92.44%

## Highest-Performing Schools (by % Overall Passing)

In [19]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing Rate", ascending=False)
top_schools.head(5)

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,94.178794
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,92.505855
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,92.444444
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.932983
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,88.419619

## Bottom Performing Schools (By % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing Rate", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,2.774735
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,8.952187
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,11.107302
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,51.412853
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,64.713296

## Math Scores by Grade

In [57]:

# Use the code provided to separate the data by grade
ninth_graders = school_df[(school_df["grade"] == "9th")]
tenth_graders = school_df[(school_df["grade"] == "10th")]
eleventh_graders = school_df[(school_df["grade"] == "11th")]
twelfth_graders = school_df[(school_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Use the code to select only the `math_score`.
ninth_grader_math_scores = ninth_graders_scores
tenth_grader_math_scores = tenth_graders_scores
eleventh_grader_math_scores = eleventh_graders_scores
twelfth_grader_math_scores = twelfth_graders_scores

# # Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame()
math_scores_by_grade["9th Grade Math Scores"] = ninth_grader_math_scores.round()
math_scores_by_grade["10th Grade Math Scores"] = tenth_grader_math_scores.round()
math_scores_by_grade["11th Grade Math Scores"] = eleventh_grader_math_scores.round()
math_scores_by_grade["12th Grade Math Scores"] = twelfth_grader_math_scores.round()


# # Minor data wrangling
math_scores_by_grade.index.name = None

# # Display the DataFrame
math_scores_by_grade

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
Bailey High School,77.0,77.0,78.0,76.0
Cabrera High School,83.0,83.0,83.0,83.0
Figueroa High School,76.0,77.0,77.0,77.0
Ford High School,77.0,78.0,77.0,76.0
Griffin High School,82.0,84.0,84.0,83.0
Hernandez High School,77.0,77.0,77.0,77.0
Holden High School,84.0,83.0,85.0,83.0
Huang High School,77.0,76.0,76.0,77.0
Johnson High School,77.0,77.0,77.0,77.0
Pena High School,84.0,83.0,84.0,84.0
Rodriguez High School,77.0,77.0,76.0,78.0
Shelton High School,83.0,83.0,83.0,84.0
Thomas High School,84.0,83.0,83.0,83.0
Wilson High School,83.0,84.0,83.0,83.0
Wright High School,83.0,84.0,84.0,84.0

## Reading Score by Grade

In [56]:
# Use the code provided to separate the data by grade
ninth_graders = school_df[(school_df["grade"] == "9th")]
tenth_graders = school_df[(school_df["grade"] == "10th")]
eleventh_graders = school_df[(school_df["grade"] == "11th")]
twelfth_graders = school_df[(school_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Use the code to select only the `reading_score`.
ninth_grader_reading_scores = ninth_graders_scores
tenth_grader_reading_scores = tenth_graders_scores
eleventh_grader_reading_scores = eleventh_graders_scores
twelfth_grader_reading_scores = twelfth_graders_scores

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame()
reading_scores_by_grade["9th"] = ninth_grader_reading_scores.round()
reading_scores_by_grade["10th"] = tenth_grader_reading_scores.round()
reading_scores_by_grade["11th"] = eleventh_grader_reading_scores.round()
reading_scores_by_grade["12th"] = twelfth_grader_reading_scores.round()

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                        9th  10th  11th  12th
Bailey High School     81.0  81.0  81.0  81.0
Cabrera High School    84.0  84.0  84.0  84.0
Figueroa High School   81.0  81.0  81.0  81.0
Ford High School       81.0  81.0  80.0  81.0
Griffin High School    83.0  84.0  84.0  84.0
Hernandez High School  81.0  81.0  81.0  81.0
Holden High School     84.0  83.0  84.0  85.0
Huang High School      81.0  82.0  81.0  80.0
Johnson High School    81.0  81.0  81.0  81.0
Pena High School       84.0  84.0  84.0  85.0
Rodriguez High School  81.0  81.0  81.0  80.0
Shelton High School    84.0  83.0  84.0  83.0
Thomas High School     84.0  84.0  84.0  84.0
Wilson High School     84.0  84.0  84.0  84.0
Wright High School     84.0  84.0  84.0  84.0

## Scores by School Spending

In [54]:
# Establish the bins 
bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [55]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,66.318328,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,82.723358,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,8.952187,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,2.774735,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,88.419619,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,66.364617,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,92.505855,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,11.107302,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,64.713296,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,94.178794,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,51.412853,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,88.131743,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,65.871560,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.932983,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,92.444444,Medium (1000-2000)

In [25]:
# school_spending_df.dtypes

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
# school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace("[$,]", "", regex=True).astype(float)
# school_spending_df["Per Student Budget"] = pd.cut(school_spending_df["Per Student Budget"], 
#                                               bins, labels=spending_labels, 
#                                               include_lowest=True)
school_spending_df["Per Student Budget"] = pd.cut(per_school_capita, bins, labels=spending_labels)
school_spending_df.head()

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,Per Student Budget
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,66.318328,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,82.723358,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,8.952187,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,2.774735,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,88.419619,$585-630

In [27]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Per Student Budget"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Per Student Budget"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Per Student Budget"]).mean()["Percent Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Per Student Budget"]).mean()["Percent Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Per Student Budget"]).mean()["Overall Passing Rate"]

In [50]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "Percent Passing Math": spending_passing_math,
    "Percent Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_spending})


# Display results
spending_summary["Percent Passing Math"] = spending_summary["Percent Passing Math"].map("{:,.2f}%".format)
spending_summary["Percent Passing Reading"] = spending_summary["Percent Passing Reading"].map("{:,.2f}%".format)
spending_summary["Overall Passing Rate"] = spending_summary["Overall Passing Rate"].map("{:,.2f}%".format)
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:,.1f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:,.1f}".format)

spending_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Per Student Budget,,,,,
<$585,83.5,83.9,93.46%,96.61%,89.65%
$585-630,81.9,83.2,87.13%,92.72%,84.26%
$630-645,78.5,81.6,73.48%,84.39%,32.25%
$645-680,77.0,81.0,66.16%,81.13%,47.40%

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

,School Type,Total Students,School Budget,Capita,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,66.318328,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,82.723358,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,8.952187,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,2.774735,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,88.419619,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,66.364617,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,92.505855,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,11.107302,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,64.713296,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,94.178794,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,51.412853,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,88.131743,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,65.871560,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.932983,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,92.444444,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["Percent Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["Percent Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["Overall Passing Rate"]

In [49]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "Percent Passing Math": size_passing_math.map("{:,.2f}%".format),
    "Percent Passing Reading": size_passing_reading.map("{:,.2f}%".format),
    "Overall Passing Rate": size_overall_passing.map("{:,.2f}%".format)})

# Display results
size_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.55%,96.10%,93.34%
Medium (1000-2000),83.374684,83.864438,93.60%,96.79%,83.52%
Large (2000-5000),77.746417,81.344493,69.96%,82.77%,45.32%

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
average_reading_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"]).mean()["Percent Passing Math"]
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"]).mean()["Percent Passing Reading"]
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"]).mean()["Overall Passing Rate"]

# Use the code provided to select new column data
# average_math_score_by_type = type_math_scores["Average Math Score"]
# average_reading_score_by_type = type_reading_scores["Average Reading Score"]
# average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
# average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
# average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [46]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type.round(2),
    "Average Reading Score": average_reading_score_by_type.round(2),
    "Percent Passing Math": average_percent_passing_math_by_type.map("{:,.2f}%".format),
    "Percent Passing Reading": average_percent_passing_reading_by_type.map("{:,.2f}%".format),
    "Overall Passing Rate": average_percent_overall_passing_by_type.map("{:,.2f}%".format)})

# Display results
type_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,86.90%
District,76.96,80.97,66.55%,80.80%,38.81%